[submodule "rom/test-suite"]
	path = rom/test-suite
	url = https://github.com/Timendus/chip8-test-suite.git
[submodule "rom/chip8-roms"]
	path = rom/chip8-roms
	url = https://github.com/kripod/chip8-roms/
